@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');
:root {
  --color-title: #0eaaff,
  --color-background: #f4f8ff,
  --color-subtitles: #939eb0,
  --color-parrafos: #000,
  --color-icons: #00d9ff,
  --color-extra: #bbf3ff
}

.loginContainer{
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr;
  background: #f4f8ff;
  font-weight: 500;
}

.imgFondo{
  display: grid;
  object-fit: fill;
  height: 100vh;
  width: 100%;
  grid-column: 2/3;
}

.loginContainer__container{
  display: grid;
  grid-template-rows: 1fr;
  margin: 0;
  height: 100%;
  border-radius: .5rem;
  background: #f4f8ff;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.form__logo h2 {
  font-size: 4rem;
}

.container__form{
  display: grid;
  grid-template-rows: 28% 20% 20% 8% 24%;
  padding: 3.5rem 3rem;
  border-color: transparent;
}

.container__form > *{
  margin: 0;
  padding: 0;
}

.form__logo{
  width: 100%;
  display: grid;
  grid-template-rows: 60% 40%;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.login__text{
  font-family: 'Montserrat';
  font-size: 1rem;
  text-align: center;
  margin: 0 1.3rem;
  margin-bottom: 0;
  font-weight: 500;
  color: #939eb0;
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.form__user,
.form__password{
  display: grid;
  grid-template-rows: 35% auto 28%;
}

.user__title,
.password__title{
  display: grid;
  font-size: 1rem;
  align-items: center;
  justify-items: start;
  padding-left: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #0eaaff;
}

.loginErrors{
  width: 99%;
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: start;
  font-size: .8rem;
  padding-left: 1.2rem;
  height: 100%;
  color: rgb(202, 32, 32);
}

.user__input,
.password__input{
  display: grid;
}

.loginInput__item{  
  position: relative;
  margin: 0 2rem 0 1rem;
  padding-left: 0.8rem;
  outline: none;
  border: none;
  border: .15rem solid #AFB6BA;
  font-size: 0.9rem;
  font-family: 'Montserrat';
  background: transparent;
  border-radius: 0.5rem;
  max-height: 2.2rem;
}


.form__register{
  display: grid;
  grid-template-columns: 10% auto;
  padding-left: 1rem;
  padding: .6rem;
}

.isMedic__check{
  display: grid;
  align-items: start;
  justify-items: start;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
  margin-left: .2rem;
}


.isMedic__title{
  font-size: 1.15rem;
  font-size: 'Montserrat';
  display: grid;
  justify-items: start;
  align-items: center;
  padding-left: 1rem;
  color: #939eb0;
  font-weight: 500;
}

.form__bottom{
  display: grid;
  grid-template-rows: 57% auto 28%;
}

.form__bottom p{
  grid-row: 2/3;
}

.btn__register{
  display: grid;
  grid-row: 3/4;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  text-decoration: none;
  color: #939eb0;
}

.btn__register p{
  width: 100%;
  margin: 0;
  padding: 0;
}

.btn__register span {
  display: inline;
}

.blue_text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  font-weight: 700;
  color: #00d9ff;
}

.form__btn{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  margin: .5rem 2rem 0 .7rem;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-family: 'Montserrat';
  color: #f4f8ff;
  font-weight: 600;
  max-height: 3.5rem;
  transition: .4s;
}

.form__btn:hover{
  background-image: radial-gradient( circle farthest-corner at -3.7% -5%,  rgba(113,213,225,1) 0.3%, rgba(73,146,226,1) 90.5% );
}
