@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');
:root {
  --color-title: #0eaaff,
  --color-background: #f4f8ff,
  --color-subtitles: #939eb0,
  --color-parrafos: #000,
  --color-icons: #00d9ff,
  --color-extra: #bbf3ff
}

.containerCreate{
  height: 100vh;
  background: #939eb0;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;

}

.containerCreate__register{
  position:absolute;
  width: 38rem;
  height: 28rem;
  border-radius: 1rem;
  background: #f4f8ff;
  display: grid;
  grid-template-rows: 14% 24% auto;
  padding: 2rem 0;
} 


.register__title{
  margin: 0;
  font-size: 2.5rem;
  font-family: 'Montserrat';
  display: grid;
  align-items: center;
  justify-items: center;
  letter-spacing: .1rem;
  color: #0eaaff;
  text-shadow: .21rem 0 0 #00d9ff;
}

.createRegister__redes{
  display: grid;
  grid-template-rows: 70% auto;
  overflow: hidden;
  height: 100%;
}

.redes{
  display: grid;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.redes__item{
  border: 1px solid #000;
  font-size: 1.9rem;
  border-radius: 50%;
  padding: .7rem;
  cursor: pointer;
}

.redes__title{
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  font-weight: 500;
  font-size: .9rem;
}

.container__register{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.register__item{
  margin: 1rem 2rem;
  display: grid;
  overflow: hidden;
  border-bottom: .2rem solid #00d9ff;
}

.register__input{
  position: relative;
  height: 100%;
  width: 97%;
  padding-left: 2rem;
  border: none;
  background: #f4f8ff;
  font-family: 'Montserrat';
  font-size: .8rem;
}

.register__icons{
  position: absolute;
  padding: 0 .3rem .2rem .4rem;
  font-size: 1.1rem;
  color: #0eaaff;
  margin-right: 1rem;
}

.register__button{
  grid-row: 5/6;
  grid-column: 1/3;
  height: 100%;
  margin: 0 8rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #f4f8ff;
  background: #00d9ff;
  transition: .6s;
  letter-spacing: .2rem;
}

.register__button:hover{
  background: #0eaaff;
}

.plan__title{
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 0.9rem;
  font-family: 'Montserrat';
}

.register__select{
  display: grid;
  grid-column: 1/3;
  padding: 0 8rem;
  height: 1.5rem;
  grid-template-columns: 30% auto;
  border: none;
}

.register__plan{
  font-size: 0.9rem;
  font-family: 'Montserrat';
  border: none;
  background: #f4f8ff;
  transition: .4s;
  letter-spacing: .1rem;
}

.register__plan:hover{
  border: .10rem solid #0eaaff;
}

.plan__option{
  font-size: 1rem;
  letter-spacing: .1rem;
  font-family: 'Montserrat';
}

