.bigContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f1f1f1;
}

.navContainer {
  position: sticky;
  top: 0;
  z-index: 999999;
}

.userLogo {
  width: 4rem;
}

.aside {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.title {
  display: block;
  text-align: start;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.detailRow {
  display: flex;
  justify-content: flex-start;
}

.shiftCard {
  min-width: 25rem;
  width: 20%;
  height: auto;
  padding: 1rem 0;
  background-color: #fff;
  border-radius: 0.7rem;
  overflow: auto;
  margin-left: 2rem;
  position: relative;
  transition: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 300;
}

.shiftCard h3 {
  font-size: 1.5rem;
}

.shiftCard p {
  width: 100%;
  font-weight: 500;
}

.pBlack {
  margin-left: 0.5rem;
  color: #000;
}

.reviewContainer {
  min-width: 20vw;
  width: 80%;
  height: auto;
  padding: 1rem 0;
  background-color: #fff;
  border-radius: 0.7rem;
  overflow: auto;
  margin-left: 2rem;
  position: relative;
  transition: 200ms;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 300;
}

.reviewContainer h3 {
  font-size: 1.5rem;
}

.reviewContainer p {
  width: 90%;
  font-weight: 500;
}

.reviewP {
  display: flex;
  justify-content: center;
  min-width: 45rem;
}

.reviewContainer a {
  all: unset;
  padding-left: 0.5rem;
  color: #0eaaff;
}

.reviewContainer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.studiesContainer {
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
  padding-left: 2rem;
  height: auto;
  width: 70%;
  background-color: #fff;
  border-radius: 0.7rem;
}

.studiesContainer h3 {
  font-size: 1.5rem;
  padding-left: 2rem;
}

.studiesContainer p {
  padding-left: 2rem;
  font-weight: 500;
}

.headerStudies {
  display: flex;
  justify-content: center;
  align-items: center;
}

.studyContainer p {
  color: greenyellow;
}

.subtitlesHistory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
}

.history {
  border-bottom: 1px solid rgba(196, 196, 196, 0.445);
  padding: 1rem 2rem 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 0;
}

.hBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.studiesContainer a {
  all: unset;
  margin-left: 1rem;
  font-size: 1rem;
  color: #0eaaff;
}

.studiesContainer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reviewContainer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dataContainer .titles {
  display: flex;
  font-size: 0.8rem !important;
  margin-bottom: 0;
}
