.bigContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #f1f1f1;
}



.studyContainer {
  padding: 0.5rem;
  margin-left: 2rem;
  border-radius: 0.7rem;
  background-color: #fff;
  min-width: 40rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  z-index: 999;
  position: absolute;
  transform: translate(50%, 80%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.studyContainer textarea {
  background-color: transparent;
  margin: 0;
  width: 100%;
  min-height: 10rem;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  font-size: 1rem;
  margin: 1rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-bottom: 1px solid #000;
}

.studyContainer select {
  background-color: transparent;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  font-size: 1rem;
  margin: 1rem;
  border: none;
  outline: none;
  padding: 0.6rem 1.5rem;
  border-bottom: 1px solid #000;
}

.formBtn button {
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #0eaaff;
  color: #fff;
  font-size: 0.9rem;
}

.formBtn button:hover {
  cursor: pointer;
  background-color: #00d9ff;
}

.studyContainer p {
  color: greenyellow;
}
