.bigContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f1f1f1;
}

.navContainer {
  height: 100%;
}

.userLogo {
  width: 4rem;
}

.aside {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.title {
  display: block;
  text-align: start;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-right: 4.9rem;
}

.btnAppointment {
  width: 12rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #0eaaff;
  color: #ffff;
  font-size: 1rem;
}

.btnAppointment:hover {
  cursor: pointer;
  background-color: #00d9ff;
}

.appContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.appContainer span {
  font-size: 5rem;
  color: #0eaaff;
}

.appContainer p {
  width: 100%;
  font-weight: 500;
  font-size: 2rem;
  color: #000;
}

.shiftCard {
  min-width: 70rem;
  width: 90%;
  height: 40rem;
  background-color: #fff;
  border-radius: 0.7rem;
  overflow: auto;
  margin-left: 2rem;
  position: relative;
  transition: 200ms;
  z-index: 300;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
}

.cardTitle {
  color: #000000;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.icon {
  margin-right: 0.5rem;
}

.dataContainer {
  color: #939eb0;
  font-size: 1rem !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paymentsCard {
  width: 45rem;
  height: 32rem;
  background-color: #fff;
  border-radius: 0.7rem;
  overflow: hidden;
  margin-left: 2rem;
}

.historyCard {
  width: 53rem;
  height: 22rem;
  background-color: #fff;
  border-radius: 0.7rem;
  overflow: hidden;
  margin: 2rem 0 1.5rem 2rem;
}
.appointment {
  border-bottom: 1px solid rgba(196, 196, 196, 0.445);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.subtitlesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  margin: 1.5rem 0 1rem 0;
}

.appointmentButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1rem;
  color: #939eb0;
  font-weight: 500;
  padding: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadFiles {
  background-color: #0eaaff;
  border: none;
  color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  margin: 0.5rem;
  font-family: inherit;
}

input[type="file"] {
  display: none;
}

.downloadFiles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.2rem;
}

.downloadFiles a {
  text-decoration: none;
  color: #0eaaff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointmentButton:hover {
  color: #0eaaff;
}

.noAppointments {
  position: relative;
  transform: translateY(80%);
  margin-top: 1rem;
}

.noAppointments p {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}

.box {
  margin: 0;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 1rem;
  text-transform: capitalize;
}

.linkBox {
  margin: 0;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 1.1rem;
  text-decoration: none;
}
.active {
  color: rgb(76, 236, 76);
  font-weight: 600;
}
.complete {
  color: #0eaaff;
  font-weight: 600;
}

.cashIcon {
  margin-left: 0.5rem;
}

.complete {
  color: #0eaaff;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.pending {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(76, 236, 76);
  font-size: 1.3rem;
}
.paidOut {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #0eaaff;
}

.btnDelete {
  background-color: transparent;
  color: red;
  min-width: 2rem;
  min-height: 2rem;
  font-size: 1.2rem;
  border: none;
}

.btnDelete :hover {
  cursor: pointer;
}
