.bigContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}

.navContainer {
  height: 100%;
}

.userLogo {
  width: 4rem;
}

.aside {
}

.title {
  display: block;
  text-align: start;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.formContainer {
  background-color: #fff;
  width: 80%;
}
