.bigContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f1f1f1;
}

.navContainer {
  display: flex;
  position: sticky;
  top: 0;
}

.userLogo {
  width: 4rem;
}

.aside {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.title {
  display: block;
  text-align: start;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.formContainer {
  background-color: #fff;
  min-height: 5rem;
  border-radius: 1rem;
  width: 90%;
}

.formContainer form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
}

.formContainer select {
  background-color: transparent;
  margin: 0;
  width: 40%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  font-size: 1rem;
  margin: 1rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #000;
}

.cardBigContainer {
  max-width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.cardBigContainer h2 {
  margin-left: 2rem;
  font-size: 2rem;
}

.paginationBtns{
  display: flex;
  width: 1028px;
}

.paginationBtns button{
  height: 25px;
  padding: 0.3em 1em 0.5em 1em;
  margin-top: 5px;
  background-color: #0eaaff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.paginationBtns button:hover{
  background-color: white;
  color:#0eaaff;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cardsContainer h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #939eb0 !important;
  width: 100%;
}

.hoursContainer {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.hoursContainer input {
  text-align: center;
  margin: 0.5rem 0.5rem;
  background-color: #fff;
  border: 1px solid #939eb0;
  color: #939eb0;
  border-radius: 0.5em;
  padding: 0.5rem;
}

.cardSpecContainer{
  display: flex;
  flex-wrap: wrap;
}
