.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #adb0b4;
  width: 100%;
  padding-top: 2rem;
}

.container ul li {
  font-size: 1rem;
}

.container p {
  width: 40%;
  font-size: 0.8rem;
  font-weight: 500;
  color: #000000;
}

.container img {
  width: 10%;
}
