.container {
  min-width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 8rem;
  margin-bottom: 0;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-size: 5rem;
  margin-top: 4rem;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.column h2 {
  font-size: 2rem;
}

.column p {
  color: #000000;
  font-weight: 500;
  font-size: 1rem;
  width: 80%;
  margin: auto;
}

.icons {
  max-width: 5rem;
  text-align: center;
  display: flex;
  color: #ffffff;
  justify-content: center;
  margin: auto;
  background-color: #00d9ff;
  border-radius: 24rem;
  padding: 2rem;
}

.icons:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* CSS ANIMATIONS */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
