
.userLogo{
    width: 4rem;
}

.userName{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    font-size: 1.2rem;
    padding: 1rem 0 0 0;
}

.userNameText{
    font-weight: 600;
}

.title{
    display: block;
    text-align: start;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: 3.7rem;
}

