
.nav{

    background-color: #f4f8ff;
    width: 15rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 900;
}

.logo{
    width: 13rem;
    margin: 2rem 0 0 .8rem;
    
}


.buttonsContainer{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.navButton{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    font-size:1.7rem;
    color: #939eb0;
    cursor: pointer;
    transition: all 150ms;
    margin: 0 0 1rem;
    border: 1px solid rgba(187, 187, 187, 0.438)

}

.navButton:hover{
    background-color: #bbf3ff;
    color: black;

}

.icon{
    margin: 0 .2rem 0 0;
}

.navButton:hover .tooltip{
    display: inline-block;
}

.tooltip{
    display: none;
    background-color: rgb(85, 85, 85);
    line-height: 2rem;
    z-index: 1000;
    text-align: center;
    color: white;
    padding: .5rem 1rem;
    position: absolute;
    left: 10.5rem;
    border-radius: .5rem;
    transition: 150ms;
    font-size:1.1rem;
}