.nav {
  background-color: #ffffff;
  width: 12rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 900;
  padding: 0;
}

.logo {
  width: 6rem;
  margin: 2rem 0 0 0.8rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.navButton {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: #939eb0;
  cursor: pointer;
  transition: all 150ms;
  margin: 0 0 1rem;
  border: 1px solid rgba(187, 187, 187, 0.438);
}

.navButton a {
  color: #939eb0;
}

.navButton:hover {
  background-color: #bbf3ff;
  color: black;
}

.icon {
  margin: 0 0.2rem 0 0;
}

.navButton:hover .tooltip {
  display: inline-block;
}

.tooltip {
  display: none;
  background-color: rgb(85, 85, 85);
  line-height: 2rem;
  z-index: 1000;
  text-align: center;
  color: white;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 10.5rem;
  border-radius: 0.5rem;
  transition: 150ms;
  font-size: 1.1rem;
}

.logout {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 1rem;
  color: #939eb0;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  bottom: 2rem;
}
.logout:hover {
  color: #0eaaff;
}

.link{
    text-decoration: none;
    color: #939eb0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link:hover{
    color: black;
}

