.body {
  background-color: rgba(197, 197, 197, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
  text-align: center;
}

.card {
  background-color: #f1f1f1;
  max-width: 40rem;
  width: 25vw;
  /* height: 22rem; */
  border-radius: 0.7rem;
  padding: 20px;
  /* padding-top: 50px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
}
.title {
  color: #000;
}
.card p {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}
.card p:last-of-type {
  padding-bottom: 50px;
}
.btn {
  border-radius: 10px;
  padding: 20px 50px;
  font-size: 1.2rem;
  border: none;
  background-color: #0eaaff;
}
.btn:hover {
  background-color: #49baf7;
}
.btnText {
  font-family: "Monserrat", sans-serif;
}

.btnClose {
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 145, 0);
  padding: 5px 20px;
}
.btnClose:hover {
  background-color: red;
  color: white;
}